<?xml version="1.0"?>
<launch>

    <!-- ##################### -->
    <!-- ####  Arguments  #### -->
    <!-- ##################### -->

    <!-- Simulate an actuator delay -->
    <arg name="delay"           default="0.00"/>
    <!-- Delay before the car starts moving. -->
    <arg name="start_delay"     default="0.00"/>
    <!-- Set to false to hide the Gazebo GUI -->
    <arg name="gazebo_gui"      default="true"/>
    <!-- Set to true with nvidia:=true on command line if you are using an NVIDIA graphics card -->
    <arg name="nvidia"          default="true"/>
    <!-- Driving mode: obstacle = slow and avoid obstacles / circuit = fast and parking -->
    <arg name="driving_mode"    default="obstacle"/>

    <!-- World to be used. The world has to be created with the gazebo_world_generator first. -->
    <arg name="world"           default="$(find gazebo_world_generator)/world/worlds/world.sdf"/>
    <!-- Description of the car model. -->
    <arg name="model"           default="$(find simulation)/urdf/car.xacro"/>
    <!-- Config for rviz. -->
    <arg name="rvizconfig"      default="$(find my_detection_package)/launch/rviz/config_camera.rviz"/>

    <!-- ######################### -->
    <!-- ####  Driving nodes  #### -->
    <!-- ######################### -->

    <!-- Overwrite parameter defaults. -->
    <param name="/control/constraints/delay" value="0.15"/>
    <param name="/car_joints_control_cfg/simulated_steering_delay" value="$(arg delay)"/>

    <!-- Load description of the car. -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>

    <!-- Start simulation. -->
    <include file="$(find simulation)/launch/road.launch">
        <arg name="world_name"  value="$(arg world)"/>
        <arg name="gui"         value="$(arg gazebo_gui)"/>
        <arg if="$(arg nvidia)" name="nvidia" value="1"/>
    </include>

    <!-- Spawn car model in gazebo. -->
    <node name="robmodel" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -urdf -x 0 -y 0 -z 0 -model SCAR"/>

    <!-- Joint and tf publisher. -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- Publish the driving mode. -->
    <node name="driving_mode_pub" pkg="simulation" type="mode_publisher.py">
        <param name="driving_mode" value="$(arg driving_mode)"/>
        <param name="start_delay" value="$(arg start_delay)"/>
    </node>

    <!-- Node to publish current /tf data of the car. -->
    <node name="odometry" pkg="preprocessing" type="c_odometry"/>

    <!-- Nodes to prepare images for detection. -->
    <node name="homography" pkg="simulation" type="homography.py"/>
    <node name="camera_cropping" pkg="simulation" type="camera_cropping"/>
    <node name="image_processor" pkg="preprocessing" type="img_proc_node"/>

    <!-- Node to detect the street. -->
    <node name="lane_detection" pkg="perception" type="lane_detection_node"/>

    <!-- Node to implement object detection. -->
    <node pkg="perception" type="detection_manager" name="detection_manager"/>
    <node pkg="my_detection_package" type="my_detector_node" name="my_detector_node" output="screen"/>

    <!-- Node to build map from street and detections. -->
    <node name="mapping" pkg="mapping" type="mapping"/>

    <!-- Node to plan waypoints where the car should drive to. -->
    <node name="waypoint_planning" pkg="waypoint_planning" type="waypoint_planning_node.py"/>

    <!-- Node to interpolate between waypoints to reach them smoothly. -->
    <node name="trajectory_planning" pkg="trajectory_planning" type="trajectory_interpolation_node"/>

    <!-- Node to send control commands to drive the car. -->
    <node name="control" pkg="control" type="orientation_based_control_node"/>
    <!-- <node name="control" pkg="my_controller_package" type="my_controller_node" output="screen"/> -->

    <!-- ############################### -->
    <!-- ####  Visualization nodes  #### -->
    <!-- ############################### -->

    <!-- Open rviz. -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>

    <!-- Publish marker in rviz. -->
    <node name="lane_detection_viz" pkg="utils" type="viz_lane_detection.py"/>
    <node pkg="preprocessing" type="odometry_visualization.py" name="odometry_viz"/>
    <node name="map_viz" pkg="utils" type="viz_map.py"/>
    <node name="waypoint_plan_viz" pkg="utils" type="viz_waypoint_plan.py"/>
    <node name="trajectory_viz" pkg="utils" type="viz_trajectory_planning.py"/>

</launch>
